In [1]:
print ("Hello!")

Hello!

In [3]:
type(print)

builtin_function_or_method

In [5]:
a = 10
b = 100
c = 1000

In [6]:
type(a)

int

In [7]:
x = 23.02

In [8]:
type(x)

float

In [1]:
print (10>9)

True

In [3]:
print (5==6)

False

In [4]:
print (45<39)

False

In [6]:
mylist = ["yoga", "cooking", "data analytics session"]
print(mylist)

['yoga', 'cooking', 'data analytics session']

In [ ]:
#task 1_Monday_01032021

In [21]:
Line1 = "the pacific occean seperates Asia and Australia from the Americas and is the largest ocean in the world"
b = Line1.capitalize()
print (b)

The pacific occean seperates asia and australia from the americas and is the largest ocean in the world

In [23]:
c = Line1.center(5)
print(c)

the pacific occean seperates Asia and Australia from the Americas and is the largest ocean in the world

In [24]:
d = Line1.count("and")
print(d)

2

In [25]:
e = Line1.count("the")
print(e)

4

In [26]:
f = Line1.count("A")
print(f)

3

In [ ]:
#task 2_Monday_01032021

In [12]:
str1 = "Welcome to python"
a = str1.find("to")
print (a)

8