In [ ]:
#task 1
#various inbuilt functions

In [12]:
Line1 = "the pacific ocean seperates Asia and Australia from the Americas and is the largest ocean in the world."
b = Line1.capitalize()
print (b)

The pacific ocean seperates asia and australia from the americas and is the largest ocean in the world.

In [13]:
c = Line1.center(35)
print(c)

the pacific ocean seperates Asia and Australia from the Americas and is the largest ocean in the world.

In [14]:
d = Line1.count("and")
print(d)

2

In [15]:
e = Line1.count("the")
print(e)

4

In [16]:
f = Line1.count("A")
print(f)

3

In [17]:
g = Line1.find(".")
print (g)

102

In [10]:
#task 2

In [9]:
str1 = "Welcome to python"
a = str1.find("to")
print (a)

8

In [ ]:
#task 3
# create a list of lenght = 10 and access 5th to 8th data.

In [2]:
festivals = ["makarsankranti", "basant panchami", "holi", "rakshabandhan", "ganesh chaturthi", "janmashtami", "navratri", "dusshera", "diwali", "christmas"]

In [3]:
print(festivals)

['makarsankranti', 'basant panchami', 'holi', 'rakshabandhan', 'ganesh chaturthi', 'janmashtami', 'navratri', 'dusshera', 'diwali', 'christmas']

In [4]:
print(len(festivals))

10

In [5]:
print(festivals[5])

janmashtami

In [6]:
print(festivals[8])

diwali

In [7]:
print(festivals[5:9])

['janmashtami', 'navratri', 'dusshera', 'diwali']

In [ ]:
#task 4

In [ ]:
#Add item 70 after 60 in the following Python List

#input
L1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [8]:
L1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [9]:
L1[2]

[30, 40, [50, 60], 80]

In [34]:
L1[2][2].append(70)
print("Method1:",L1)

Method1: [10, 20, [30, 40, [50, 60, 70, 70], 80], 90, 100]

In [33]:
L1[2][2]=[50,60,70]
print("Method2:",L1)

Method2: [10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
2)

#add sublist [7,8] after 6

#input
L2 = [1,2,[3,4,5,6],9]

#output
[1,2,[3,4,5,6,[7,8]],9]

In [39]:
L2 = [1,2,[3,4,5,6],9]

In [40]:
L2[2].append([7,8])

In [41]:
print(L2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [ ]:
#task 5

In [46]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [ ]:
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [47]:
print(dict1)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [48]:
dict1['april_batch']['student']['name']

'Mike'

In [49]:
dict1['april_batch']['student']['marks']['python']

80

In [50]:
dict1['april_batch']['student']['name']="Rama"
print(dict1)

{'april_batch': {'student': {'name': 'Rama', 'marks': {'python': 80, 'maths': 70}}}}

In [51]:
dict1['april_batch']['student']['marks']['ML']=80
print(dict1)

{'april_batch': {'student': {'name': 'Rama', 'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [52]:
dict1['april_batch']['student']['marks']['DL']=80
print(dict1)

{'april_batch': {'student': {'name': 'Rama', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [53]:
#task 6

In [ ]:
#Add and remove the elements from a tuple

In [ ]:
1) Add the elements to a tuple.

In [55]:
T1 = (1.2,2.3,3.4,4.5,"Apple","Oneplus","Samsung","Motorola",123,456,789,567)

In [59]:
print(T1)
len(T1)

(1.2, 2.3, 3.4, 4.5, 'Apple', 'Oneplus', 'Samsung', 'Motorola', 123, 456, 789, 567)

12

In [58]:
type(T1)

tuple

In [61]:
L1=list(T1)
L1[8]="Nokia"
T1= tuple(L1)
print(T1)

(1.2, 2.3, 3.4, 4.5, 'Apple', 'Oneplus', 'Samsung', 'Motorola', 'Nokia', 456, 789, 567)

In [ ]:
2) Remove the elements from a tuple

In [63]:
print(T1)

(1.2, 2.3, 3.4, 4.5, 'Apple', 'Oneplus', 'Samsung', 'Motorola', 'Nokia', 456, 789, 567)

In [ ]:
#task7

In [ ]:
1) difference()

In [76]:
a = {'olives', 'mushrooms', 'zucchini'}
b = {'bell pepper', 'broccoli', 'mushrooms'}

x= a-b
print("(a-b):",x)

(a-b): {'zucchini', 'olives'}

In [85]:
y= b-a
print("(b-a):",y)

(b-a): {'broccoli', 'bell pepper'}

In [78]:
print("(a-b):",a.difference(b))

(a-b): {'zucchini', 'olives'}

In [79]:
print("(b-a):",b.difference(a))

(b-a): {'broccoli', 'bell pepper'}

In [80]:
a = {'olives', 'mushrooms', 'zucchini'}
b = {'bell pepper', 'broccoli', 'mushrooms'}
c = {'zucchini', 'cheese', 'cream'}

In [81]:
print((a-b)-c)

{'olives'}

In [82]:
print((a.difference(b).difference(c)))

{'olives'}

In [83]:
print(c.difference(a.difference(b)))

{'cheese', 'cream'}

In [84]:
print(c-(a-b))

{'cheese', 'cream'}

In [ ]:
2) symmetric_difference()

In [ ]:
# include all the element of A and B which are not present in A & B / A intersection B

In [86]:
a = {1,2,3,4}
b = {4,5,6,7}
c = {8,9,1,2}

In [87]:
print((a^b)^c)

{3, 5, 6, 7, 8, 9}

In [88]:
print(a.symmetric_difference(b).symmetric_difference(c))

{3, 5, 6, 7, 8, 9}